<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info Lookup Order</title>
    <!-- Load Bootstrap 4, JQuery-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Load custom Javascript and CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <script>
        let facebookAppId = "<%= facebookAppId %>"
        let sender_psid = "<%= sender_psid %>"
    </script>
    <script type="module" src="/js/order.js"></script>

</head>
<body>
<div class="container fix-height">
    <div class="row">
        <div class="col-12">
            <div class="text-center mt-3">
                <span class="title">Tìm kiếm đơn hàng</span>
            </div>
            <input type="text" id="psid" hidden>
            <div class="form-group">
                <label for="phoneNumber">SĐT (<span style="color: red">*</span>):</label>
                <input type="text" id="phoneNumber" class="form-control" placeholder="SĐT...">
                <div class="invalid-feedback">Vui lòng số điện thoại</div>
            </div>
            <div class="form-group">
                <label for="orderNumber">Mã đơn hàng (<span style="color: red">*</span>):</label>
                <input type="text" id="orderNumber" class="form-control" placeholder="Mã đơn hàng...">
                <div class="invalid-feedback">Vui lòng nhập mã đơn</div>
            </div>
            <button class="btn btn-primary" id="btnFindOrder"> Tìm kiếm </button>
        </div>

    </div>

</div>
<footer>
    <div class="text-center">
        <div class="">
            <span class="mr-3">	&copy; PetShop Chatbot</span>
            <span class="ml-3">
                Powered by <a href="https://facebook.com/NDE.feelings" target="_blank">CuongNguyen</a>
            </span>
        </div>
    </div>
</footer>

</body>
</html>